*{
    font-family: sans-serif;
  }

#list-builder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  filter: alpha(opacity=80);
  opacity: 0.8;
  display: none;
  z-index: 55;
}

#popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  width: 100%;
  max-width: 600px;
  padding:30px 30px;
  display: none;
  z-index: 5555;
}

.cross-icon {
  position: absolute;
  top: 31px;
  right: 25px;
  cursor: pointer;
  width: 40px;
}

#popup-box-content{
  background-color: #d1371f;
  margin: 20px;
  padding: 30px 0px;
  box-shadow: 0px 0px 5px 0px #00000073;}

  #popup-box h1{
    text-align: center;
    color: #FFFFFF;
    margin:10px;
    font-size: 24px;
    padding: 10px;
    font-weight: normal;
  }

  #popup-box p{
    border: 1px dashed #ccc;
    border-width:1px 0 1px 0px;
    text-align: center;
    color: #FFFFFF;
    margin:0px;
    font-size: 24px;
    padding: 10px;
  }


  #popup-box h1 span{
    font-weight: bold;
  }

  #popup-box .custom-btn{
    text-align: center;
    padding:30px 0px 20px;
  }

  #popup-box .custom-btn a {
    padding: 10px 50px;
    margin: 0px 5px;
  }

  #popup-box a:hover{
    box-shadow: 1px 2px 5px 0px #00000000;
  }

  #popup-box a {
    cursor: pointer;
    padding: 10px;
    border:0px;
    box-shadow: 1px 2px 5px 0px #00000073;
  }

  #popup-box a.signup{
    background-color: #d1371f;
    font-size: 16px;
    color: #FFFFFF;}

    #popup-box a.cancel{
      background-color: #FFFFFF;
      font-size: 16px;
      color: #252525;}