#list-builder {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  filter: alpha(opacity=80);
  opacity: 0.8;
  display: none;
  z-index: 55;
}
#popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*background-color: #0A1441;*/
  color: #FFFFFF;
  width: 90%;
  max-width: 600px;
  padding: 10px 30px;
  /* border: 10px solid #FFFFFF94; */
  display: none;
  /*border-radius: 15px;*/
  z-index: 5555;
}
#popup-close {
  position: absolute;
  top: 90px;
  right: 33px;
  cursor: pointer;
  width: 70px;
  z-index: 111;
}
#popup-box-content {
  background-color: transparent;
  margin: 20px;
  /* box-shadow: 0px 0px 5px 0px #00000073; */
}
#popup-box h1 {
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  font-size: 24px;
  padding: 10px;
  font-weight: normal;
}
#popup-box h1 span {
  font-weight: bold;
}
#popup-box .custom-btn {
  text-align: center;
  padding: 10px 0px 20px;
}
#popup-box .custom-btn button {
  padding: 10px 50px;
}
#popup-box button:hover {
  box-shadow: 1px 2px 5px 0px #00000000;
}
#popup-box button {
  cursor: pointer;
  padding: 10px;
  border: 0px;
  box-shadow: 1px 2px 5px 0px #00000073;
}
#popup-box button.signup {
  background-color: #252525;
  font-size: 16px;
  color: #FFFFFF;
}
#popup-box button.cancel {
  background-color: #FFFFFF;
  font-size: 16px;
  color: #252525;
}
.mg-mob img {
  width: 100%;
  height: 100%;
}
.upper-mg-mob img {
    height: 100px;
    position: absolute;
    right: 85px;
    bottom: 47px;
    width: 170px;
    height: 55px;
}
.main-divv {
  position: relative;
}

@media only screen and (max-width: 500px) {

  .upper-mg-mob img {
  z-index: 111;
    height: 100px;
    position: absolute;
    /* right: 65px; */
    bottom: 10%;
    height: 44px;
    width: 98px;
    left: 66%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

 #popup-box {
  position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    width: 90%;
    max-width: 600px;
    display: none;
    z-index: 5555;
    padding: 0px;
    margin-top: 40px;
 }

 #popup-close {
    position: absolute;
    top: 34px;
    right: 5px;
    cursor: pointer;
    width: 70px;
    z-index: 111;
  }

  #popup-box-content {
    background-color: transparent;
  }
}


@media only screen and (max-width: 600px) {
  .upper-mg-mob img {
  z-index: 111;
    height: 100px;
    position: absolute;
    /* right: 65px; */
    bottom: 10%;
    height: 44px;
    width: 98px;
    left: 66%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #popup-box {
  position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    width: 90%;
    max-width: 600px;
    display: none;
    z-index: 5555;
    padding: 0px;
    margin-top: 40px;
 }

 #popup-close {
    position: absolute;
    top: 34px;
    right: -15px;
    cursor: pointer;
    width: 70px;
    z-index: 111;
  }

  #popup-box-content {
    background-color: transparent;
    margin:0px;
  }


}

@media only screen and (max-width: 600px) {
  .upper-mg-mob img {
z-index: 111;
    height: 100px;
    position: absolute;
    /* right: 65px; */
    bottom: 10%;
    height: 44px;
    width: 98px;
    left: 66%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #popup-box {
  position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    width: 90%;
    max-width: 600px;
    display: none;
    z-index: 5555;
    padding: 0px;
    margin-top: 40px;
  }

  #popup-close {
    position: absolute;
    top: 34px;
    right: -15px;
    cursor: pointer;
    width: 70px;
    z-index: 111;
  }


  #popup-box-content {
    background-color: transparent;
    margin:0px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71){
  .upper-mg-mob img {
  z-index: 111;
    height: 100px;
    position: absolute;
    /* right: 65px; */
    bottom: 10%;
    height: 44px;
    width: 98px;
    left: 66%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  #popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    width: 90%;
    max-width: 600px;
    display: none;
    z-index: 5555;
    padding: 0px;
    margin-top: 90px;
  }

  #popup-close {
    position: absolute;
    top: 27px;
    right: -15px;
    cursor: pointer;
    width: 70px;
    z-index: 111;
  }

  
  #popup-box-content {
    background-color: transparent;
    margin:0px;
  }
}